---
import { contentfulClient } from "@/lib/contentful"
import type { BlogPost } from "@/lib/contentful"
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import type { CollectionEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro"
import formatDate from "@/utils/formatDate"

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  }) 

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

type Props = {
  content: string
  title: string
  date: string 
}

const { content, title, date } = Astro.props
---

<Layout title={title}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-2">
    <header role="presentation">
      <h1 class="text-3xl font-bold">{title}</h1>
      <p class="m-0">{date}</p>
    </header>
    <article set:html={content} />
  </main>
</Layout>
