---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    [`font-normal cursor-pointer text-link hover:text-link-hover`]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline
  }}
  {...props}
>
  <!-- <strong>{label}</strong> -->
  {label}
  <span class="sr-only ">{label} link</span>
</a>