---
import removeTrailingSlash from "@/utils/removeTrailingSlash"
import presentation from "@/data/presentation"
import Link from '@/components/shared/Link.astro'

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row-reverse md:justify-between">
  <!-- <Link 
    href={`mailto:${presentation.mail}`} 
    class="hover:text-neutral-100"
    label={presentation.mail}
  >{presentation.mail}</Link> -->

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <Link
          href="/"
          label="Home"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/",
        }} />
      </li>
      <li>/</li>
      <li>
        <Link
          href="/posts"
          label="Posts"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/posts",
        }} />
      </li>
    </ul>
  </nav>
</header>
