---
import { formatDate } from '@/utils/utils'

type Props = {
  title: string
  date: Date
  description: string
  slug: string
}

const { title, date, description, slug } = Astro.props
---

<a
  class='card-shadow group relative flex w-full cursor-pointer flex-col gap-2 rounded-md border border-border bg-card-background p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400'
  href={`/posts/${slug}`}
>
  <div
    class='flex w-full flex-col justify-between gap-2 md:flex-row md:items-center'
  >
    <p class='font-bold'>{title}</p>
    <div class='flex flex-row items-center gap-4 md:mr-6'>
      <p>{formatDate(date)}</p>
    </div>
    <svg
      width='18'
      height='18'
      viewBox='0 0 18 18'
      fill='none'
      class='absolute right-4 top-4 transition-all duration-300 group-hover:translate-x-1'
    >
      <path
        d='M5.25 12.75L12.75 5.25'
        stroke='#999999'
        stroke-linecap='round'
        stroke-linejoin='round'></path>
      <path
        d='M5.25 5.25H12.75V12.75'
        stroke='#999999'
        stroke-linecap='round'
        stroke-linejoin='round'></path>
    </svg>
  </div>

  <p class='truncate'>
    {description}
  </p>
</a>
